<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0">    <!-- So that mobile webkit will display zoomed in -->
  <meta name="format-detection" content="telephone=no"> <!-- disable auto telephone linking in iOS -->
  <title><%= @metadata[:title] || "Email Title" %></title>
  <link rel="stylesheet" type="text/css" href="/assets/<%= @template %>/styles.css">
  <link rel="stylesheet" type="text/css" href="/assets/<%= @template %>/responsive.css">
</head>
<body style="margin:0; padding:0;" bgcolor="<%= @config.styles[:background_color] %>" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- 100% wrapper (grey background) -->
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="<%= @config.styles[:background_color] %>">
  <tr>
    <td align="center" valign="top" bgcolor="<%= @config.styles[:background_color] %>" style="background-color: <%= @config.styles[:background_color] %>;">

      <br>

      <!-- 600px container (white background) -->
      <table border="0" width="600" cellpadding="0" cellspacing="0" class="container">
        <tr>
          <td class="content container-padding">
            <%= yield %>
          </td>
        </tr>
      </table>
      <!--/600px container -->

    </td>
  </tr>
</table>
<!--/100% wrapper-->

</body>
</html>